.config-container {
    background-color: #424242;
    width: 100%;
    height: 100vh;
    position: relative;
    top: 50%;
}

.config-title {
    font-size: 32px;
    color: white;
    font-weight: 600;
    padding: 20px 50px;
}

.config-content {
    font-size: 18px;
    color: white;
    font-weight: 600;
    padding: 0px 50px;
}

.config-video {
    display: flex;
    width: 95%;
    height: 85%;
    margin: 0 auto;
    background-color: #2C2C30;
    border-radius: 20px;
}

.config-video > video {
    width: 100%;
    justify-content: center;
    object-fit: cover;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 20px;
}

.config-select-section {
    padding-bottom: 30px;
    padding-right: 40px;
    color: #d9d9d9;
    font-size: 24px;
    font-weight: 600;
}

.config-img-container {
    display: flex;
    margin: 30px;
}

.config-img-camera {
    width: 70px;
}

.config-img-mic {
    width: 70px;
    margin-left: 20px;
}

.config-img-camera:hover, .config-img-mic:hover {
    filter: brightness(70%);
    cursor: pointer;
}

.config-dropdown {
    color: black;
    width: 100% !important;
}

.config-dropdown:hover {
    color: black;
    width: 100% !important;
}

.config-button {
    background-color: #4DAED3;
    border: None;
    border-radius: 10px;
    padding: 15px 50px;
    color: white;
    font-size: 20px;
    font-weight: 500;

    float: right;
    margin-top: 20px;
}

.test-container {
    width: 100vw;
}

.meeting-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.meeting-nav {
    width: 100vw;
    background-color: #2C2C30;
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    color: white;
    padding: 30px 50px;
    height: 10%;
}

.video-container {
    width: 100%;
    height: 80%;
    background: #181b1f;
    display: flex;
    flex-direction: row;
}

.lecture-video-container {
    width: 50%;
    height: 100%;
    background: #181b1f;

    display: flex;
    align-items: center;
    justify-content: center;
}

.lecture-video-container > video {
    width: 50vw;
    height: 100%;
    background: #181b1f;

    display: flex;
    align-items: center;
    justify-content: center;
}

.lecture-video-container-alone {
    width: 100%;
    height: 100%;
    background: #181b1f;

    display: flex;
    align-items: center;
    justify-content: center;
}

.student-video-container { 
    width: 50%;
    height: 100%;
    background: #181b1f;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.meeting-attendee-all {
    align-self: end;
    margin: 0px 20px 10px 0px;
}

.main-video {
    width: 25%;
    /* height: 12em; */
    flex: 1 1 calc(40% - 2px);
    margin: 2px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.local-video {
    align-items: center;
    justify-content: center;
}

.video-footer {
    width: 100vw;
    background-color: #2C2C30;
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    color: white;
    height: 10%;

    display: flex;
    align-items: center;
}

.video-footer-img {
    width: 60px;
    margin-left: 30px;
}

.video-footer-img:hover {
    width: 60px;
    margin-left: 30px;

    filter: brightness(70%);
    cursor: pointer;
}

.video-footer-exit {
    position: absolute;
    right: 0;
    margin: 30px;
    
    width: 200px;
    background-color: #4DAED3;
    border: None;
    border-radius: 15px;
    padding: 15px 30px 15px 30px;
    font-size: 20px;
    font-weight: 600;
    color: white;
	cursor: pointer; 
}